*desktop.ini
*.log
*.pw
*.zip
*.log
*.pw
* =====Sub Directories=====
*oauth2.txt

#VS Code Files
*.vscode

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
*.Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows shortcuts
*.lnk

# Thumbnails
._*

/notes.ps1
/jenkins.ps1
/lib/gam-64/oauth2.txt
/lib/gam-64/gam.exe
/bin/gam.exe
/bin/oauth2.txt
/bin/roots.pem
/params.ps1